@import "tailwindcss";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Style scrollbar */

::-webkit-scrollbar {
  width: 8px;
  position: absolute; /* Doesn't affect layout */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@layer components {
  .glass {
    @apply bg-white/25
      backdrop-blur-lg
      bg-clip-padding
      backdrop-filter
      backdrop-saturate-100
      backdrop-contrast-100;

    box-shadow:
      inset 0 1px 0 rgba(47, 93, 62, 0.1),
      inset 0 -1px 0 rgba(47, 93, 62, 0.05),
      inset 1px 0 0 rgba(47, 93, 62, 0.1),
      inset -1px 0 0 rgba(47, 93, 62, 0.05),
      0 2px 8px rgba(0, 0, 0, 0.15),
      0 0 0 1px rgba(47, 93, 62, 0.08);
  }
  .link {
    @apply underline decoration-sky-500/50 decoration-3;
  }
  .link:hover {
    @apply decoration-sky-500;
  }
  /* shadcn ui topography */
  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight text-balance;
  }

  h2 {
    @apply scroll-m-20 border-b pb-1 mb-3 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  /* Link Hover Styles */
  a:hover,
  .a:hover {
    @apply opacity-80;
  }
}

/* Input Styles for Number Fields (Cross-browser compatibility) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@theme {
  --color-forest:
    "#2F5D3E", --color-pine: "#3E7748", --color-lake: "#4B91B0",
    --color-mist: "#F7FAFC", --color-moss: "#7BA573";
}
