@import "tailwindcss";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer components {
  .glass {
    @apply bg-white/20
      backdrop-blur-lg
      bg-clip-padding
      backdrop-filter
      backdrop-saturate-100
      backdrop-contrast-100
      border
      border-[rgba(255,255,255,0.6)];

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .link {
    @apply underline decoration-sky-500/50 decoration-3;
  }
  .link:hover {
    @apply decoration-sky-500;
  }
}

/* Bold and Strong Tags */
b,
strong {
  @apply font-semibold;
}

/* Image Styles */
img {
  @apply mx-auto;
}

/* Link Hover Styles */
a:hover,
.a:hover {
  @apply opacity-80;
}

/* Input Styles for Number Fields (Cross-browser compatibility) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Code Styling */
code {
  @apply border-none;
}

/* shadcn ui topography */

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance mb-4;
}

h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

/* Table */
table {
  @apply w-full;
}

/* Table rows: even rows get muted background, no margin, border top, no padding */
thead tr,
tbody tr {
  @apply m-0 border-t p-0;
}

tbody tr:nth-child(even) {
  @apply bg-muted;
}

/* Table header cells */
th {
  @apply border px-4 py-2 text-left font-bold;
}

/* Table data cells */
td {
  @apply border px-4 py-2 text-left;
}

/* Alignment based on [align] attribute */
th[align="center"],
td[align="center"] {
  @apply text-center;
}

th[align="right"],
td[align="right"] {
  @apply text-right;
}

ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

a {
  @apply underline;
}
