@import "tailwindcss";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer components {
  .glass {
    @apply bg-white/20
      backdrop-blur-lg
      bg-clip-padding
      backdrop-filter
      backdrop-saturate-100
      backdrop-contrast-100
      border
      border-[rgba(255,255,255,0.6)];

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .link {
    @apply underline decoration-sky-500/50 decoration-3;
  }
  .link:hover {
    @apply decoration-sky-500;
  }
}

/* Bold and Strong Tags */
b,
strong {
  @apply font-semibold;
}

/* Image Styles */
img {
  @apply mx-auto;
}

/* Link Hover Styles */
a:hover,
.a:hover {
  @apply opacity-80;
}

/* Input Styles for Number Fields (Cross-browser compatibility) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Code Styling */
code {
  @apply border-none;
}
