---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.data.slug },
    props: { page },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { page } = Astro.props;
---

<h1>{page.data.title}</h1>
<Fragment set:html={page.data.content} />
