---
import ReadingWidthLayout from "@/layouts/ReadingWidthLayout.astro";
---

<ReadingWidthLayout title="HASD Community">
  <h1>Welcome to HASD History Club</h1>
  <p class="text-lg mt-4">This site is in alpha state</p>
</ReadingWidthLayout>
