---
import HomePageLayout from "../layouts/HomePageLayout.astro";
---

<HomePageLayout title="HASD Community">
  <h1 class="text-center text-3xl font-bold">Welcome to HASD History Club</h1>
  <p class="text-center text-lg mt-4">This site is in pre-alpha state</p>
</HomePageLayout>
