---
import HomePageLayout from "@/layouts/HomePageLayout.astro";
---

<HomePageLayout title="HASD Community">
  <h1 class="text-3xl font-bold bg-red-300">Welcome to HASD History Club</h1>
  <p class="text-lg mt-4">This site is in pre-alpha state</p>
</HomePageLayout>
