---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout className="text-center py-8" title="HASD Community">
  <h1 class="text-3xl font-bold">Welcome to HASD History Club</h1>
  <p class="text-lg mt-4">This site is in pre-alpha state</p>
</BaseLayout>
