---
import { getCollection } from "astro:content";
const pages = await getCollection("pages");
---

<h1>My posts</h1>
<ul>
  {
    pages.map((page) => (
      <li>
        <a href={`/page/${page.data.slug}`}>{page.data.title}</a>
      </li>
    ))
  }
</ul>
