---
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content="Welcome to my new Astro site!" />

<!-- Web analytics -->
<!-- TBD: litlyx -->

<!-- Open Graph tags -->
<meta property="og:title" content="HASD" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://histoyclub.aamira.me" />
<meta
  property="og:description"
  content="A community made homepage for information related to the Hollidaysburg Area School District"
/>
<meta
  property="og:image"
  content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
/>
<meta property="og:image:alt" content="" />

<!-- Helpful stuff -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<ClientRouter />
