---
import Head from "@/components/Head.astro";
const { title } = Astro.props;
import "@/styles/global.css";
import { Image } from "astro:assets";
import smallBackgroundImage from "@/assets/bwca-day-small.webp";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<html transition:name="root" transition:animate="none" lang="en">
  <head>
    <Head title={title} />
  </head>
  <body class="flex flex-col min-h-screen">
    <div
      class="absolute top-0 left-0 mt-1 ml-2 opacity-0 transition-opacity hover:opacity-100 duration-300 flex gap-2 items-center"
    >
      <a class="" target="_blank" href="https://db.aamira.me/_/">Edit site</a>
      <a class="" target="_blank" href="https://school.aamira.me/hasd-refresh">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-rotate-cw-icon lucide-rotate-cw"
          ><path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8"
          ></path><path d="M21 3v5h-5"></path></svg
        >
      </a>
    </div>
    <Image
      id="bg-low"
      src={smallBackgroundImage}
      loading="eager"
      width={1920}
      height={1080}
      alt="a low quality calm landscape painting background"
      class="fixed inset-0 z-[-10] pointer-events-none object-cover transition-filter ease-in-out bg-[#e8f5ea] h-full w-full"
    />

    <Image
      transition:persist
      id="bg-high"
      src="https://cdn.aamira.me/bwca-day.webp"
      alt="a high quality calm landscape painting background"
      loading="lazy"
      width={1920}
      height={1080}
      class="fixed inset-0 z-[-10] pointer-events-none object-cover transition-filter duration-500 ease-in-out bg-[#e8f5ea] opacity-0 h-full w-full"
    />

    <script is:inline>
      // FADE IN HIGH QUALITY IMAGE
      document.addEventListener("DOMContentLoaded", () => {
        const img = document.getElementById("bg-high");
        if (img.complete) {
          img.classList.add("opacity-100");
        } else {
          img.addEventListener("load", () => {
            img.classList.add("opacity-100");
          });
        }
      });
    </script>

    <!-- Tippy tooltip functionality -->
    <script src="/src/scripts/tippy.ts"></script>

    <!-- MAIN PAGE CONTENT -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>
